{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "arrowParens": "always",
  "bracketSpacing": true,
  "quoteProps": "consistent",
  "singleAttributePerLine": false,
  "endOfLine": "lf"
}
